header {
    background-color: #325886;
    color: #FEF265;
    padding: 1em;
    text-align: center;
}

body {
    background-color: #447AB9;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ccc;
}

/* Faction table styles */
.faction-table {
    border: 1px solid #000;
    border-radius: 10px;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    background-color: #82A7D6;
}

.faction-table th, .faction-table td {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.faction-table td {
    width: 100%;
}

.faction-table td input[type="radio"] {
    display: block;
    margin: 0 auto;
}

.faction-table input[type="radio"] {
    display: block;
    margin: 0 auto;
}

.faction-table label {
    display: inline-block;
    padding-left: 5px;
}

.faction-table .friendly {
    width: 10%;
}

.faction-table .neutral {
    width: 10%;
}

.faction-table .hostile {
    width: 10%;
}

/* Quest generator container */
.quest-generator {
    width:500px;
    margin: 5px auto;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background-color: #FEF265;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}